* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.gallery {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1176px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.gallery-item:hover {
  transform: scale(1.0474);
  z-index: 1;
}

.modal {
  width: 1140px;
  height: 696px;
  background-color: #2e2f42cc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  width: 1112px;
  height: 640px;
}
